!!!5
html
  head
    meta(charset="utf8")
    link(rel="stylesheet",type="text/css",href="index.css")
    link(rel="stylesheet",type="text/css",href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
    script(src="jquery-1.10.2.min.js")
    script(type="text/javascript",src="d3.v3.min.js")
    script(type="text/javascript",src="angular.js")
    script(type="text/javascript",src="index.js")
  body(ng-app="g0vis", ng-controller="g0visController")
    #tie &nbsp;
    #container
      .banner &nbsp;
        .desc: 已有 1325 個人立志成為沒有人
      div(style="background:#000;color:#fff;margin:0;padding:10px")
        .desc in mockup stage - 
          a(href="https://hackpad.com/38KFeiT1Qrm") Discussion Page
        .desc 報告學長，沒有畫面，再強調一次，完全沒有畫面
      .timeline
        .stats
          .stat
            i.icon-calendar
            .desc 經過268天
        .desc 以下用橫式 timeline 呈現
        div 2012/12/01 第1天 第零次黑客松
        div 2013/01/13 第44天 WebConf 2013 talk
        div 2013/01/27 第58天 第一次黑客松
        div 2013/03/23 第113天 第二次黑客松
        div 2013/04/20 第141天 OSDC 2013 talk
        div 2013/04/28 第149天 ICOS 2013 talk
        div 2013/05/23 第174天 pre-hackathon @ handlino
        div 2013/06/08 第190天 第三次黑客松
        div 2013/08/03 第246天 COSCUP 2013 session
        div 2013/08/10 第253天 第四次黑客松
      .featured
        .prj: img(src="img/moedict.png",style="height:250px;margin-left:-50px")
        .prj: img(src="img/listening.png",style="height:250px;margin-left:-50px")
        .prj: img(src="img/budget.png",style="height:250px;margin-left:-50px")
        .prj: img(src="img/newshelper.png",style="height:250px;margin-left:-50px")
      .ideas
        .idea
          i.icon-wrench
          .desc 改造政府
        .idea
          i.icon-group
          .desc 去中心化
        .idea
          i.icon-github
          .desc 開放源碼
        .idea
          i.icon-unlock-alt
          .desc 資料透明
      .stats
        .stat
          i.icon-calendar
          .desc 經過205天
        .stat
          i.icon-food
          .desc 五次黑客松
        .stat
          i.icon-comments
          .desc 300人參與
        .stat
          i.icon-book
          .desc 93個專案
        .stat
          i.icon-code-fork
          .desc 128次分支
        .stat
          i.icon-thumbs-up
          .desc 八千個讚
        .stat
          i.icon-bullhorn
          .desc 12次媒體報導
        .stat
          i.icon-camera
          .desc 1034張照片
      .fbbar
        .bar
        .bar
        .bar
        .bar
        .bar
        .bar
        .bar
        .bar
        .bar
        .desc 臉書粉絲團人數成長趨勢 (一月至九月)
        .mark 9k
  
      .ircbar
        .bar
        .bar
        .bar
        .bar
        .bar
        .bar
        .bar
        .bar
        .bar
        .desc 聊天室同時線上人數 (一月至九月)
        .mark 2k
  
      .irc-activity
        .block
          .iblock 發言數
          .desc 天別
        .block
          .iblock(style="background:#393") 924
          .desc 週一
        .block
          .iblock(style="background:#3a3") 1232
          .desc 週二
        .block
          .iblock(style="background:#3c3") 1501
          .desc 週三
        .block
          .iblock(style="background:#3f3") 1720
          .desc 週四
            i.icon-fire(style="color:#f00")
        .block
          .iblock(style="background:#3b3") 1320
          .desc 週五
        .block
          .iblock(style="background:#373") 877
          .desc 週六
        .block
          .iblock(style="background:#353") 405
          .desc 週日
      hr
      | 我是分隔線
      hr
  
      h3 專案數
      | {{ prjs.length }}
      h3 總送交數
      | {{ commits }}
      h3 總分支數
      | {{ forks }}
      h3 待解問題
      | {{ issues }}
      h3 關注者
      | {{ watchers }}
      h3 專案列表
      .tags
        .tag(ng-repeat="prj in prjs")
          a(href="{{prj.html_url}}") {{prj.name}}
      h3 貢獻者總數
        | {{ contributorCount }}
      h3 每位貢獻者平均參與的專案數
        | {{ prjsAllcontrib / contributorCount | number }}
      h3 貢獻者
      .conts
        .cont(ng-repeat="cont in contribArray | orderBy:'-total'")
          | {{ cont.name }}: {{ cont.total }}
          .tag(ng-repeat="p in cont.projects") {{ p }}
  
      hr
      | 我是分隔線
      hr
      //- script(type="text/javascript",src="calendar.js")
      script(type="text/javascript",src="line.js")
      script(type="text/javascript",src="bubble.js")
